

<h4> We appreciate your interest in our great goats! </h4>


<div class="row" id="backpic">
	<div class="col-sm-8">
		<p> We <strong> are </strong> the goat people. We rent goats! Our goats are the best you'll find in the Austin area. Cooked or alive you should try our goat!  We are the goat people. We rent goats! Our goats are the best you'll find in the Austin area. Cooked or alive you should try our goat! We are the goat people. We rent goats! Our goats are the best you'll find in the Austin area. Cooked or alive you should try our goat! We are the goat people. We rent goats! Our goats are the best you'll find in the Austin area. Cooked or alive you should try our goat!</p>
	</div>	<!-- end col -->

	<div class="col-sm-3">
		<a src="images/goat1.jpg"> </a>
	</div> <!-- end col 2	 -->
</div>  <!-- end row -->