<form action="/contact" method="POST" class="form-box">
	<div class="form-group">
		<label for="name">Full Name</label>
		<input id="name" class="form-control" name="name" type="text" placeholder="Your Name" />
	</div> <!-- .form-group -->

	<div class="form-group">
		<label for="message">Message</label>
		<textarea id="message" class="form-control" name="message"></textarea>
	</div>

	<input type="submit" class="btn btn-primary btn-lg" name="submit" />
</form>