<div class="row">
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat1.jpg">
	</div>
	<div class="col-sm-4" id="gallery">
		<img src="http://placehold.it/150x150">
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="http://placehold.it/150x150">
	  </div>
</div>
<div class="row">		  
	  <div class="col-sm-4" id="gallery">
	  	<img src="http://placehold.it/150x150">
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="http://placehold.it/150x150">
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="http://placehold.it/150x150">
	  </div>
	  
</div>