<div class="row">
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat1.jpg">
	  	<p>Buster</p>
	</div>
	<div class="col-sm-4" id="gallery">
		<img src="/images/goat2.jpg">
		<p>Gertrude</p>
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat7.jpg">
	  	<p>The gang</p>
	  </div>
</div>
<div class="row">		  
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat4.jpg">
	  	<p>Kermit</p>
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat5.jpg">
	  	<p>Bingo</p>
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat6.jpg">
	  	<p>Max</p>
	  </div>
	  
</div>
<script>

$("img").hover(function(){
    $(img).css("opacity", "0.5");
});

</script>