<div class="row">
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat1.jpg">
	</div>
	<div class="col-sm-4" id="gallery">
		<img src="/images/goat2.jpg">
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat7.jpg">
	  </div>
</div>
<div class="row">		  
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat4.jpg">
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat5.jpg">
	  </div>
	  <div class="col-sm-4" id="gallery">
	  	<img src="/images/goat6.jpg">
	  </div>
	  
</div>